Repository filewatcher/filewatcher-spinner: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: vendor/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  bundle_install_script:
  - bundle config set --local path 'vendor/bundle'
  - bundle update
  container:
    image: ruby:latest
  os_prepare_script:
  - gem install bundler
  ...

rubocop:
  bundle_cache:
    folder: vendor/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  bundle_install_script:
  - bundle config set --local path 'vendor/bundle'
  - bundle update
  container:
    image: ruby:latest
  os_prepare_script:
  - gem install bundler
  ...

Try to fix Windows CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Remove extra commented lines in Cirrus CI config file
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Change default `spinner` CLI option to `true`
  README.md
  lib/filewatcher/spinner.rb
Due: remark, rubocop

Change Filewatcher dependency to a stable release
  filewatcher-spinner.gemspec
Due: bundle-audit, rubocop

Update version to 1.0.0
  CHANGELOG.md
  lib/filewatcher/spinner/version.rb
Due: remark, rubocop

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  filewatcher-spinner.gemspec
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop

Disable new Codecov uploader for macOS on ARM
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Install latest Ruby for macOS and cache it
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Update TruffleRuby CI preparation script
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Downgrade `simplecov` to `0.21` due to TruffleRuby
  filewatcher-spinner.gemspec
Due: bundle-audit, rubocop

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  filewatcher-spinner.gemspec
Due: remark, bundle-audit, rubocop

Move development dependencies from gemspec into Gemfile
  Gemfile
  filewatcher-spinner.gemspec
Due: bundle-audit, rubocop

Switch to `truffleruby-community` in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Change OS preparation for Linux CI tasks
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Move TruffleRuby CI image to Linux matrix
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Rename `master` git branch to `main` in files
  .cirrus.yaml
  README.md
Due: remark, bundle-audit, rubocop

Try to fix Codecov uploader Cirrus CI cache
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Run Codecov on macOS with the Rosetta work-around
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  filewatcher-spinner.gemspec
Due: remark, bundle-audit, rubocop

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Remove `bundler` as development dependency
  Gemfile
Due: bundle-audit, rubocop

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  filewatcher-spinner.gemspec
Due: remark, bundle-audit, rubocop

Update RuboCop, its plugins and strict them more
  Gemfile
Due: bundle-audit, rubocop

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  filewatcher-spinner.gemspec
Due: bundle-audit, rubocop

Update toys dependencies
  Gemfile
Due: bundle-audit, rubocop

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, .toys.rb, .rubocop.yml, *.gemspec, **.rb, **.ru
