Repository filewatcher/filewatcher-spinner: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, .toys.rb, .rubocop.yml, *.gemspec, **.rb, **.ru

Add Ruby 3.4 and 4.0 support
  .cirrus.yaml
  filewatcher-spinner.gemspec
Due: remark, bundle-audit, rubocop

Update Filewatcher runtime dependency
  filewatcher-spinner.gemspec
Due: bundle-audit, rubocop

Update `simplecov-cobertura` development dependency
  Gemfile
Due: bundle-audit, rubocop

Improve Cirrus CI config
  .cirrus.yaml
Due: remark, bundle-audit, rubocop

Fail `remark` on any warning
  package.json
Due: remark

Add EditorConfig for JSON
  .editorconfig
Due: none

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: remark

Update version to 2.0.0
  CHANGELOG.md
  lib/filewatcher/spinner/version.rb
Due: remark, rubocop
